* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  background-image: url(./img/home-cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  min-height: 100vh;
}
.cover-text {
  background-color: rgb(138, 135, 135);
}
.wrapper {
  min-height: 100vh;
  background: #b0d8c3;
}
.form-and-todo-box .input-and-button input {
  flex-grow: 1;
  outline: none;
}
.form-and-todo-box {
  min-width: 70vw;
}
.icons {
  font-size: 2rem;
  cursor: pointer;
}
.add-item {
  background: rgb(124, 202, 124);
}
.add-item:hover {
  background: rgb(78, 177, 78);
}
.fa-edit {
  background: rgb(70, 183, 227);
}
.fa-edit:hover {
  background: rgb(23, 161, 216);
}
.update-item {
  background-color: #fc9c00d7;
}
.fa-trash,
.delete-all {
  background: #f37676;
}
.fa-trash:hover,
.delete-all:hover {
  background: #ee6767;
}
.add-item,
.update-item {
  font-size: 1.4rem;
  padding: 0.4rem;
}
@media only screen and (max-width: 678px) {
  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .add-item-input,
  .edit-item-input {
    min-width: 40vw;
    font-size: 1.2rem;
  }
  .add-item,
  .update-item {
    font-size: 1.2rem;
    padding: 0.2rem;
  }
  .form-and-todo-box {
    min-width: 80vw;
  }
}
